body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #f2f2f2;
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.3);
}

.container {
  margin: 0;
  padding: 0 10%;
  width: 100%;
  left: 0;
  top: 0;
}

.my-40 {
  margin: 70px 0;
}

nav .logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 18px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  font-family: sans-serif;
  color: black;
  margin: 20px 16px;
  text-decoration: none;
}

.right-side {
  float: right;
}

.log-btn {
  border: 2px solid rgba(11, 15, 19, 0.2);
  border-radius: 2px;
  margin: 14px 13px;
  padding: 4px 10px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: flex-end;
}
.time-btn {
  background-color: #262626;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 16px;
}

.c-fixed {
  position: fixed;
}

footer {
  background-color: #262626;
  color: #ffffff;
  padding: 40px 0;
}

footer li {
  list-style-type: none;
  margin: 10px;
}

footer .logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 18px;
  color: azure;
  margin: 20px 16px;
}

hr {
  margin: 20px 10%;
  size: 1px;
}

.network-logo {
  max-height: 20px;
  float: left;
  margin-right: 10px;
}

.download {
  height: 120px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #262626;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.rest-container {
  padding: 140px 10% 100px;
  background-image: url("img/Good_Food_Display_-_NCI_Visuals_Online.jpg");
  background-size: cover;
}

.rest-cart {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  max-width: 340px;
}

.menu {
  padding: 40px 0;
}

.menu a {
  padding: 0 10px;
}
.not-active {
  color: #626262;
}

.chosen {
  color: #327430;
}

.menu-blocks {
  margin-bottom: 50px;
  padding: 10px;
}

.block {
  display: block;
  padding: 0;
  padding-left: 20px;
  border: 2px solid rgba(11, 15, 19, 0.2);
  margin-bottom: 40px;
  border-radius: 5px;
  height: 160px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  overflow: hidden;
}

.card-price {
  font-weight: 600;
}

.menu-blocks-img {
  height: 162px;
  width: 170px;
  float: right;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  nav .container {
    padding: 0 0;
  }

  .search {
    margin: 120px 0 0px;
    width: 100%;
  }

  hr {
    margin: 30px 10px;
    size: 1px;
  }
}

@media screen and (max-width: 420px) {
  .cart {
    display: none;
  }

  .rest-container {
    padding: 140px 10px -10px;
  }

  .not-active {
    display: none;
  }
}
